@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-lighter-light: #FEF9E1;
  --color-medium-light: #F2E5C7;
  --color-darker-light: #E5D0AC;

  --color-darker-dark: #02111B;
  --color-medium-dark: #011936;
  --color-lighter-dark: #182E48;

  --color-accent: #D62839;
  --color-accent-light: #DE7C73;
  --color-accent-dark: #A12332;

}

@source "../node_modules/flowbite-svelte/dist";



